.form-box{
    background-color: rgba(172, 221, 224, 0.603);
    width: 96%;
    max-width: 650px;
    margin: auto;
    margin-top: 2em;
    border-radius: 5px;

   
    display: flex;
    flex-direction: column;
    
    
}
.form-head{
    font-size: 2em;

    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: center;
}
form{
    padding: 1em;
}

input[type=text],input[type=email],input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date], select {
    
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .submit-btn{
    
      font-size: 1em;
      padding: 10px 26px;
      background-color: aquamarine;
      border: none;
  }