.nav-bar{
  height: 4em;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.nav-bar .logo {
  height: 90%;
}


.card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}